body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin:0%
}

.header-body{
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    min-height: 25%;
}

.header-logo{
    color: #F9FAF8;
    size: 24px;
    align-self: flex-start;
    flex: 0 1 20%;
    padding-left: 8%;
    padding-right: 25em;
}

.header-links {
    display: flex;
    gap: 2em;
    padding-right: 7%;
    flex: 0 1 20;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

p.secondary-text{
    flex-shrink: 3;

}

.title-signup{
    max-width: 380px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 50%;
    padding: 5em 20em 5em 13em;
}

.hero-main-text{
    size: 48px;
    color: #F9FAF8;
    font-weight: 800;

}

.image-container{
    display: flex;
    padding: 5em 10em 5em 12em
}

.image{
    background-color: #6e737c;
    text-align: center;
    color: #F9FAF8;
    width: 25em;
    padding: 6em;
    flex: 0 1 auto;
}

.info-card-section{
    display: flex;
    min-height: 25%;
    flex-wrap: nowrap;
    flex-direction: column;
}

.info-card-header{
    text-align: center;
    padding: 1em 10em;
}

.info-cards{
    display: flex;
    flex-wrap: nowrap;
    padding: 1% 23% 4% 27%;
    gap: 75px;
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 175px;
    text-align: center;
    align-items: center;
}

.card-image{
    border-style: solid;
    border: 5px solid #3882F6;
    border-radius: 15%;
    height: 200px;
    width: 200px;
}

.quote-section{
    background-color: #E5E7EB;
    color: #1F2937;
    size: 36px;
    font-weight:300; 
    font-style: italic;
    display: flex;
    padding: 10em;
}

.ad {
    display: flex;
    padding: 10em;
}

button{
    background-color:  #3882F6;
    border: 3px #3882F6;
    border-radius: 5px;
    font-size: 20px;
    width: 6em;
    height: 1.8em;
    color: #F9FAF8;
}

footer{
    flex-shrink: 0;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    size: 18px;
    text-align: center;
}